.cliente-container {
  text-align: center;
  padding: 40px;
  background: #fdfdfd;
  min-height: 100vh;
}

.cliente-header {
  background: #f93b9a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.cliente-header h1 {
  margin: 0;
}

main p {
  font-size: 18px;
  color: #333;
}
